.header {
  width: 850px;
  height: 250px;
  margin: auto;
  background-color: plum;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 32px;
  position: relative;
  top: 20px;
  left: 175px;
}

img {
  height: 110px;
  width: 110px;
  border: 10px solid lightblue;
  position: relative;
  top: 110px;
  right: 40px;
}

ul.navigation {
  font-size: 22px;
  position: relative;
  top: 40px;
  left: 380px;
  list-style-type: none;
  color: cyan;
}

li {
  display: inline;
  background-color: grey;
  border: 5px solid lightblue;
}

button {
  position: relative;
  left: 300px;
  top: 100px;
  float: center;
}

.columns {
  margin: auto;
  width: 850px;
  position: relative;
}

.right {
  background-color: lightblue;
  width: 512px;
  height: 300px;
  border: 10px solid plum;
  top: 200px;
  left: 40px;
  position: relative;
}

.left {
  width: 318px;
  height: 300px;
  border: 10px solid plum;
  background-color: lightblue;
  top: 200px;
  left: 440px;
  position: relative;
}
