.header {
  width: 850px;
  height: 250px;
  margin: auto;
  background-color: plum;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 32px;
  position: relative;
  top: 20px;
  left: 175px;
}

img {
  height: 110px;
  width: 110px;
  border: 10px solid lightblue;
  position: relative;
  top: 110px;
  right: 40px;
}

ul.navigation {
  font-size: 22px;
  position: relative;
  top: 40px;
  left: 380px;
  list-style-type: none;
  color: cyan;
}

li {
  display: inline;
  background-color: grey;
  border: 5px solid lightblue;
}

button {
  position: relative;
  left: 300px;
  top: 100px;
  float: center;
}

.columns {
  margin: auto;
  width: 850px;
  position: relative;
}

.right {
  background-color: lightblue;
  width: 512px;
  height: 300px;
  bottom: 160px;
  position: relative;
  float: right;
}

.left {
  width: 328px;
  height: 200px;
  background-color: lightblue;
  top: 40px;
  position: relative;
}

.left2 {
  z-index: 5;
  position: relative;
  border: 5px solid plum;
  width: 200px;
  height: 120px;
  bottom: 120px;
  left: 60px;
}

.right2 {
  left: 410px;
  bottom: 20px;
  position: relative;
  border: 5px solid plum;
  background-color: grey;
}

p {
  font-size: 18px;
  font-weight: bold;
}
